@import 'color-palette.scss';
@import 'media-breakpoints.scss';
@import 'sidebar.scss';
@import 'menu-bar.scss';
//font-family: "Noto Sans", Arial, sans-serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
//font-family: 'Source Serif Pro', Georgia, serif;
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:600,700');

html {
    display: block;
    font-size: 16px;
    height: 100%;
    font-family: "Noto Sans", Arial, sans-serif;
}

body {
    height: 100%;
}

#root {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.app-container {
    height: 100%;
    position: relative;
}

.content-wrap {
    font-family: 'Source Serif Pro', Georgia, serif;
    font-size: 16px;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    transition: transform 500ms ease-in-out;
    z-index: 0;
}
.content-wrap-sidebar-active {
    transform: translate(37.5%);
    @media (min-width: $scr-med) {
        transform: translate(7.5rem);
    }
}

.asteroid-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.site-title {
  //font-family: "Noto Sans", Arial, sans-serif;
  position: absolute;
  bottom: 7rem;
  left: 10rem;
  color: $color-primary;
  font-weight: 600;
  font-size: 6em;
}
