//TINY phones (Iphone 5)
$scr-xsm: 321px;
//All phones should fit here
$scr-sm: 480px;
//Tablets
$scr-med: 768px;
//Low-res desktops / IPad Pro
$scr-large: 1024px;
//Full 1080p
$scr-xlarge: 1920px;
//1440p
$scr-xxlarge: 2560px;
//4k
$scr-xxxlarge: 3840px;


$sm-margin-size: 3rem;
$sm-margin-size-half: 1.5rem;
$med-margin-size: 3rem;
$med-margin-size-half: 1.5rem;
$large-margin-size: 10.5rem;
$large-margin-size-half: 5.25rem;
