//TINY phones (Iphone 5)
$scr-xsm: 321px;
//All phones should fit here
$scr-sm: 480px;
//Tablets
$scr-med: 768px;
//Low-res desktops / IPad Pro
$scr-large: 1024px;
//Full 1080p
$scr-xlarge: 1920px;
//1440p
$scr-xxlarge: 2560px;
//4k
$scr-xxxlarge: 3840px;
