.hamburger-wrap {
  cursor: pointer;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #000;
  top: $sm-margin-size;
  left: $sm-margin-size;
  z-index: 1;
  transition: left 275ms ease-in-out;
  @media (min-width: $scr-large) {
      top: 3.5rem;
      left: $large-margin-size;
  }
}


.content-wrap-sidebar-active {
    .hamburger-wrap {
        left: calc(50% - 0.75rem);
        @media (min-width: $scr-med) {
            left: calc(7.5rem + 3rem);
        }
    }
}
