.testComponentClass {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 180px;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 24px;
    color: $color-white;
}

.incrementButtonClass {
    padding: 30px;
    background-color: $color-white-accent;
    flex: 1;
    cursor: pointer;
}
.decrementButtonClass {
    padding: 30px;
    background-color: $color-primary;
    flex: 1;
    cursor: pointer;
}
.counterDisplay {
    width: 60px;
    flex: 1;
    padding: 30px;
    color: $color-dark;
}
